.slide {
  justify-self: start;
  height: 100%;
  padding-bottom: 118px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  //background: url("../../images/sheet.webp") content-box center / contain no-repeat;

  > * {
    margin: 0;
  }

  &.home > * {
    margin: .5rem 0;
  }

  h1, h2, h3 {
    //font-family: 'Archivo', sans-serif;
  }

  h1 {
    margin-top: 2rem;
    font-size: 4rem;
    font-family: 'Caprasimo', serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #efa92b;
    $outline-color: #755900;
    $outline-width: 2px;
    text-shadow: -#{$outline-width} -#{$outline-width} 0 $outline-color, #{$outline-width} -#{$outline-width} 0 $outline-color,
    -#{$outline-width} #{$outline-width} 0 $outline-color, #{$outline-width} #{$outline-width} 0 $outline-color;

    .accent {
      color: #d73a1a;
    }
  }

  .signature {
    width: 8rem;
    opacity: .2;

    font-size: .8rem;
    text-align: right;
    color: white;
  }

  .inlineIcon {
    height: 1.4em;
    vertical-align: middle;

    position: relative;
    bottom: .2em;
  }

  canvas {
    margin-top: 1rem;
  }
}
